*{
    text-align: center;
    width: fit-content;
    margin:20px auto;
}
h1{
    font-size: 80px;
    font-family: Impact;
}
p{
    font-size: 35px;
}
button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    transition: all .3s;
}
button:hover{
    background-color:green;
}
